<!DOCTYPE html>
<html>
  <head>
    <title>RailsLearnApp <%= Time.now.year %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav>
    </nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Questions', questions_path %></li>
      </ul>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
